/*CONTACTO*/
#fondoContacto{
    background-image: url(../Imagenes/fondo7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 1500px;
     &:before{ 
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.79);
    }
 }

.titulo__Contacto{
    display: flex;
    width: 95%;
    padding-left: 30px;
    padding-top: 0px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: #50266B;
    position: relative;
    bottom: 50px;
    margin-left: 60px;
    margin-top: 70px;
}
.titulo__Contacto2{
    display: flex;
    width: 100%;
    padding: 0px 0px 10px 0px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #9F00AC;
    position: relative;
}
.contact_form{  
    width: 460px; 
    margin: 100px 0px 0px 520px;
    border-radius: 10px;  
    padding: 20px 10px 20px 10px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
    position: relative;
    bottom: 80px;
 }

  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #9F00AC; 
    margin-top: 10px;  
    padding-left: 1 0px;
    margin-bottom: 20px; 
  }  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #9F00AC; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 10px; 
  }  
  
  label{
    display: block; 
    float: center;  
  }  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #9F00AC; 
    border-color: #9F00AC; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }  
  
  button p{
    color: #fff; 
  }  
  
  span{
    color: #9F00AC; 
  }  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #9F00AC;
  }  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
