#fondoServicios{
    background-image: url(../Imagenes/FondoLentes5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;  
    height: 1000px;  
     &:before{
        content: ''; 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.75); 
    }
} 
 .titulo__Servicios{
    display: flex;
    width: 80%;
    margin-left: 150px;
    padding-left: 50px;
    padding-top: 20px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    font-weight: bold;  
    position: absolute;
    color: #50266B;
}
.boton7{
    display:flex;
    position: absolute;
    align-items: center;
    text-align: center;
    filter: brightness(1);
    text-decoration: none;
    margin: 0px 10px 0px 70px;
    padding: 5px 20px 5px 20px;;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #50266B;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    top: 800px;
    &:hover{
      background-color:#8A8A8C;
    }
    &:hover:after{
      background-color: #50266B;
    }
  }

.servicios__contenedor{
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.item1 {
    position: absolute;
    font-size: 50px;
    line-height: 1;
    text-align:center;   
    margin: 5px 0px 10px 50px;
    padding: 5px 10px 5px 10px;
    background: #8A8A8C;
    border: 2px solid #9F00AC;
    color: #8A8A8C;;
    filter: brightness(2);
    right: 800px;

  }
.item2 {
    position: absolute;  
    font-size: 50px;
    line-height: 1;
    text-align:center;   
    margin: 5px 50px 10px 50px;
    padding: 5px 10px 5px 10px;
    background: #8A8A8C;
    border: 2px solid #9F00AC;
    color: #8A8A8C;;
    filter: brightness(2);
    right: 829px;
    bottom: 600px;
  }
.item3 {
    position: absolute;  
    font-size: 50px;
    line-height: 1;
    text-align:center;   
    margin: 5px 50px 10px 50px;
    padding: 5px 10px 5px 10px;
    background: #8A8A8C;
    border: 2px solid #9F00AC;
    color: #8A8A8C;;
    filter: brightness(2);
    right: 740px;
    bottom: 485px;
  }
.item4 {
    position: absolute;  
    font-size: 50px;
    line-height: 1;
    text-align:center;   
    margin: 5px 50px 10px 50px;
    padding: 5px 10px 5px 10px;;
    background: #8A8A8C;
    border: 2px solid #9F00AC;
    color: #8A8A8C;;
    filter: brightness(2);
    right: 866px;
    bottom: 370px;
  }
.item5 {
    position: absolute;  
    font-size: 50px;
    line-height: 1;
    text-align:center;   
    margin: 5px 50px 10px 50px;
    padding: 5px 10px 5px 10px;
    background: #8A8A8C;
    border: 2px solid #9F00AC;
    color: #8A8A8C;;
    filter: brightness(2);
    right: 687px;
    bottom: 253px;
  }
.item6 {
    position: absolute;  
    font-size: 50px;
    line-height: 1;
    text-align:center;   
    margin: 5px 50px 10px 50px;
    padding: 5px 10px 5px 10px;
    background: #8A8A8C;
    border: 2px solid #9F00AC;
    color: #8A8A8C;;
    filter: brightness(2);
    left: 757px;
    bottom: 715px;
  }
.item7 {
    position: absolute;  
    font-size: 50px;
    line-height: 1;
    text-align:center;   
    margin: 5px 50px 10px 50px;
    padding: 5px 10px 5px 10px;
    background: #8A8A8C;
    border: 2px solid #9F00AC;
    color: #8A8A8C;;
    filter: brightness(2);
    left: 757px;
    bottom: 600px;
  }
.item8 {
    position: absolute;  
    font-size: 50px;
    line-height: 1;
    text-align:center;   
    margin: 5px 50px 10px 50px;
    padding: 5px 10px 5px 10px;
    background: #8A8A8C;
    border: 2px solid #9F00AC;
    color: #8A8A8C;;
    filter: brightness(2);
    left: 757px;
    bottom: 485px;
  } 
.item9 {
    position: absolute;  
    font-size: 50px;
    line-height: 1;
    text-align:center;   
    margin: 5px 50px 10px 50px;
    padding: 5px 10px 5px 10px;
    background: #8A8A8C;
    border: 2px solid #9F00AC;
    color: #8A8A8C;;
    filter: brightness(2);
    left: 757px;
    bottom: 373px;
  }
.item10 {
    position: absolute;  
    font-size: 50px;
    line-height: 1;
    text-align:center;   
    margin: 5px 50px 10px 50px;
    padding: 5px 10px 5px 10px;
    background: #8A8A8C;
    border: 2px solid #9F00AC;
    color: #8A8A8C;;
    filter: brightness(2);
    left: 757px;
    bottom: 253px;
  } 